
service hwrev-parser /system/bin/hwrevision
    class core
    user root
    group root readproc
    oneshot

service cpboot-daemon /system/bin/cbd -d -o t -p 7
    class main
    user root
    group radio cache inet misc audio sdcard_rw log readproc wakelock
